
# installed software
deps

# snakemake
.snakemake

# general ignores
*.log

# emacs
*~

# python
*.pyc

# jupyter
.ipynb_checkpoints
*.pem

# pycharm
.idea

# external data
ngs.sanger.ac.uk

# latex
*.aux
*.bbl
*.bcf
*.blg
*.run.xml
*.bak
*.synctex*
/main.pdf
temp.bib

# ignore flag files
*.done

